/*<style
  body {
    font-family: 'Helvetica', serif;
  }

  h1 {
    text-align: center;
    font-size: 64px;
    font-weight: lighter;
    font-family: 'Arial', sans-serif;
    color: rgb(0,0,0);
  }

  h2 {
    text-align: center;
    font-weight: lighter;
    font-family: 'Helvetica', sans-serif;
    color: rgb(50,50,50);
  }

  p {
    font-size: 16px;
    font-weight: lighter;
    text-align: center;
    font-family: 'Helvetica', sans-serif;
    color: rgb(20,20,20);
  }

  footer {
    font-size: 12px;
    font-family: 'Courier', serif;
    text-align: left;
  }

  .main_background {
    text-align: center;
  }

  .list {
    text-align: center;
    font-size: 16px;
    font-family: 'Helvetica', sans-serif;
  }

    /*#portrait_photos {
    line-height: 5;
    -webkit-column-count: 5;
    -webkit-column-gap:   2px;
    -moz-column-count:    5;
    -moz-column-gap:      2px;
    column-count:         5;
    column-gap:           2px;
  }*/

    /*#landscape_photos {
    line-height: 10;
    -webkit-column-count: 4;
    -webkit-column-gap:   2px;
    -moz-column-count:    4;
    -moz-column-gap:      2px;
    column-count:         4;
    column-gap:           2px;
  }*/

</style>*/
